:root {
    /* Définition des couleurs de base */
    --blue-sky-1: #16193B; /* Bleu nuit */
    --blue-sky-2: #35478C; /* Bleu foncé */
    --blue-sky-3: #4E7AC7; /* Bleu vif */
    --blue-sky-4: #7FB2F0; /* Bleu clair */
    --blue-sky-5: #ADD5F7; /* Bleu très clair */
    --Noir-6: #000000; /* Noir */
    --Blanc-7: #ffffff; /* Blanc */

    /* Utilisation des couleurs pour différents éléments */
    --color-title: var(--blue-sky-1); /* Couleur pour les titres */
    --color-subtitle: var(--blue-sky-3); /* Couleur pour les sous-titres */
    --color-paragraph: var(--blue-sky-2); /* Couleur pour les paragraphes */
    --color-border: var(--blue-sky-4); /* Couleur pour les bordures */
    --color-backgroundFoncé: var(--blue-sky-1); /* Couleur de fond foncée */
    --color-background: var(--blue-sky-5); /* Couleur de fond général */
    --color-text: var(--Noir-6); /* Couleur pour le texte de fond */
    --color-white: var(--Blanc-7); /* Couleur blanche pour le texte de fond d'une balise */

    /* Polices */
    --font-title: 'Montserrat', sans-serif;
    --font-text: 'Open Sans', sans-serif;
    --font-subtitle: 'Roboto', sans-serif;

    /* Taille de police standard et poids */
    --font-size-normal: 16px; /* Taille de police standard pour le texte */
    --font-size-title: 28px; /* Taille de police pour les grands titres */
    --font-size-subtitle: 20px; /* Taille de police pour les sous-titres */
    --font-weight-normal: 400; /* Poids normal de la police */
    --font-weight-bold: 700; /* Poids en gras */
    /* Pour le profil la taille du nom et du sous-titre */
    --font-size-titleProfil: 45px;
    --font-size-subtitleProfil: 30px;
}


/*Initialisation de notre body pour supprimer les marges et choix du type de police pour notre site*/


/*Initialisation de notre body pour supprimer les marges et choix du type de police pour notre site*/
* {
  box-sizing: border-box;
}



/* PARTIE: RECU khalifa*/
.mon_recu{
   padding: 20px;
    width: 30%;
   text-align: left;
   border: var(--color-border);
   background-color: #ffffff;
   color: var(--blue-sky-1);
   margin-left: 30%;
   border: 1px solid white;
   margin-top: 20%;
   height: 300px;
   font-size: 20px;

}
#recu{
    text-align: center;
}


/*Style pour le modal (masqué par défaut) */

#openModalButton{
    background-color: var(--color-white);
    color: var(--color-backgroundFoncé);
    height: 40px;
    width: 200px;
    font-size: var(--font-subtitle);
    font-family: var(--font-title);
    font-weight: var(--font-weight-bold);
    border-radius: 5px;
    border: 1px solid var(--color-backgroundFoncé);
}

#openModalButton:hover{
    background-color: var(--color-paragraph);
    color: var(--color-white);
    border-radius: 15px;
}


.modal {
    display: none;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.4); 
}

/* Style pour le contenu du modal */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid var(--color-title);
    width: 80%; 
    max-width: 500px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    
}

.close {
    color: var(--color-text);
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: rgb(85, 10, 10);
    text-decoration: none;
}

/*Fin de la Partie de khalifa*/